<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<import resource="datasource-config.xml" />
	<import resource="quartz-task.xml" />
<!-- 	<import resource="quartz-time.xml" /> -->

	<!-- 自动扫描与装配bean，扫描web包，将带有注解的类纳入spring容器管理 -->
	<context:component-scan base-package="com.zhangmin" />



	<!-- 加载外部的properties配置文件（引入jdbc的配置文件） -->
	<context:property-placeholder
		location="classpath:jdbc.properties,classpath:sysconfig.properties"
		system-properties-mode="FALLBACK" />

	<!-- mybatis文件配置，扫描所有mapper文件 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
		p:dataSource-ref="dataSource" p:mapperLocations="classpath:mapper/**/*Dao.xml" />

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
		p:dataSource-ref="dataSource" />

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"
		p:basePackage="com.zhangmin.restfulservice.dao"
		p:sqlSessionFactoryBeanName="sqlSessionFactory" />

	<!-- 启用对事务注解的支持 -->
	<tx:annotation-driven />

	<!-- 配置调度工厂 -->
<!-- 	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="testCronTrigger" />
			</list>
		</property>
	</bean> -->


</beans>